

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Medula+One&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



/*
@font-face {
  font-family: 'Medula One', cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');


@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url("../fonts/LibreBaskerville-Bold.ttf") format('truetype');
  font-weight: bold;
}

*/


/*

Polices : Medula One pour les titres et boutons, Libre Baskerville pour le reste

h1 64px

h2 48px

h3 36px 

i 36px

nav items 24px

Couleur dorée : #af966d

*/

/* BACKGROUND */

.dark {
    /* Image de fond : zelda-bg_pattern_brown.png */
}

.light {
    /* Image de fond : zelda-bg_pattern_white.png */
}

/* GRID CSS */

.wrapper {
    
}
  
 .sidebar {
    
}
  
.content-1 {

}
  
.content-2 {

}
  
.content-3 {

}
  
/* Bouton */

.btn {
   
}

/* Flexbox */
  
.myFlex {

}

/******************/

/* DIVIDER */


*, :after, :before {
  box-sizing: border-box;
}

.hl-arrow { 
  position: relative;
  display: block;
  background-color: #AF966D;
  margin: 17px auto 12px;
  max-width: 307px;
  height: 2px;
  opacity: 0;
  width: 0;
  -webkit-transition: width 2s 0.1s cubic-bezier(0.49, 0.02, 0.29, 1.06), opacity 0.6s 0.1s ease;
  transition: width 2s 0.1s cubic-bezier(0.49, 0.02, 0.29, 1.06), opacity 0.6s 0.1s ease;
}
.hl-arrow {
  width: 100%;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .hl-arrow {
      max-width: inherit;
      width: 60%;
      margin: 14px auto 13px;
  }
}
.hl-arrow:before, .hl-arrow:after {
position: absolute;
content: "";
background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4yLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iZGl2aWRlciIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDI1IDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNCNjlBNjg7fQ0KPC9zdHlsZT4NCjxwb2x5Z29uIGlkPSJhcnJvdyIgY2xhc3M9InN0MCIgcG9pbnRzPSIyNC41LDUuMDI3IDIxLjgyMiw3Ljc0NCAxOS4zNDMsNS4yMyAxNy4wOTUsNy43NDQgMC41LDQuMjY3IDAuNSwzLjk3NyAxNy4wOTUsMC41IA0KCTE5LjM0MywzLjAxNCAyMS44MjIsMC41IDI0LjUsMy4yMTYgIi8+DQo8L3N2Zz4NCg==") center center no-repeat;
width: 24px;
height: 8px;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
.hl-arrow:before {
left: -24px;
}
.hl-arrow:after {
-webkit-transform: translateY(-50%) scaleX(-1);
        transform: translateY(-50%) scaleX(-1);
right: -24px;
}

.Logo_du_jeu {
  width: 9%;
  height: 9%;
}

.nav_bg {
  background-color: #AF966D;
}

.phrase_promo{
  color: black;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  margin-right: 4vw;
  margin-left: 4vw;
}

.nav_bouton{
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  text-decoration: none;
  font-size: x-large;
}

.Section_site{
  height: 48vw;
  width: 100vw;
}

.nav_pos{
  position: fixed;
  width: 100%;
  z-index: 3;
}

.titre_section1{
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  color: white;
  margin-right: 37vw;
  margin-left: 37vw;
  margin-top: 3vw;
  font-size:3vw;
}

.txt_sec1{
  color: white;
  text-align: center;
  margin-right: 17vw;
  margin-left: 17vw;
  font-size: larger;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}


.column {
  float: left;
  width: 50vw;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.img_pos {
  width: 30vw;
  height: 30vw;
  margin-left: 20vw;
  margin-top: 3vw;
}

.txt2_sec1{
  color: white;
  margin-left: -13vw;
  margin-top: 8vw;
  text-align: center;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  font-size: 3vw;
}
.pos_flêche{
  margin-right: 23vw;
}

.txt3_sec1{
  color: white;
  text-align: center;
  margin-left: 3vw;
  margin-right: 13vw;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
}

.Section2_site {
  width: 100vw;
  height: 80vw;
}

.txt1_sec2 {
  margin-left: 35vw;
  margin-right: 30vw;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  font-size: 3vw;
  margin-top: 3vw;
}

.txt2_sec2 {
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
  text-align: center;
  margin-left: 20vw ;
  margin-right: 20vw;
}

.dim_img_sec2 {
  width: 60vw;
  margin-left: 20vw;
}
.txt3_sec2 {
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
  text-align: center;
  margin-left: 20vw ;
  margin-right: 20vw;
  margin-top: 2vw;
}
.column_sec2 {
  float: left;
  width: 33vw;
  padding: 5px;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

.img_1 {
  width:25vw;
  height: 25vw;
  margin-left: 15vw;
}

.img_2 {
  width:25vw;
  height: 25vw;
  margin-left: 5vw;
}

.img_3 {
  width:25vw;
  height: 25vw;
  margin-right: 5vw;
}

.section3 {
  height: 58vw;
  width: 100vw;
}

.txt1_sec3 {
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  color: white;
  margin-left: 38vw;
  font-size: 3vw;
}

.txt2_sec3 {
  color: white;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.carou_dim{
  width: 65vw;
  margin-left: 18vw;
  margin-top: 3vw;
}

.txt3_sec3{
  color: white;
  text-align: center;
  font-size: 1vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

.section4 {
  width: 100vw;
  height: 85vw;
}

.txt1_sec4 {
  text-align: center;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  font-size: 3vw;
}

.txt2_sec4 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
  margin-top: 3vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

.column_sec4 {
  float: left;
  width: 21vw;
  padding: 5px;
}

.Grid_css {
  width: 80vw;
  height: 42vw;
  margin-left: 20vw;
}

.img1_grid{
  width: 20vw;
  height: 40vw;
}

.img2_grid{
  width: 40vw;
  height: 20vw;
}

.img3_grid{
  width: 20vw;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
}

.img4_grid{
  width: 20vw;
  margin-left: 0.5vw;
  margin-top: 1vw;
}

.column2_sec4 {
  float: left;
  width: 20vw;
  padding: 5px;
}

.txt3_sec4 {
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  text-align: center;
  font-size: 1vw;
  margin-top: 1vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.le_bouton {
  margin-top: 2vw;
  width: 15vw;
  height: 4vw;
  margin-left: 43vw;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  font-size: 2vw;
  background-color: #AF966D;
  color:goldenrod;
  border: none;
}

.le_bouton:hover{
  background-color: goldenrod;
  color: black;
}

.section5{
  width: 100vw;
  height:65vw;
}

.txt1_sec5{
  color: white;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  text-align: center;
  font-size: 3vw;
}

.column1_sec5 {
  float: left;
  width: 21vw;
  margin-left: 15vw;
}

.column2_sec5 {
  float: left;
  width: 21vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.column3_sec5 {
  float: left;
  width: 21vw;
  margin-left: 0vw;
}

.form_card {
  height: 45vw;
  margin-top: 2vw;
  width: 23vw;
}

.dim_img_card{
  padding: 2vw;
}

.titre_card{
  text-align: center;
  margin-top: -2vw;
  font-family: 'Medula One',cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
  font-size: 2.3vw;
}

.txt_card{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-size: 1vw;
}

.button_card{
  margin-left: 5vw;
  margin-top: 1vw;
}
.txt_card1{
  margin-top: 2vw;
}

.txt_card2{margin-top: 2vw;}

.button1 {
  margin-top: 5vw;
}

.button2 {
  margin-top: 4vw;
}

.img_btn{
  width: 10vw;
}

.crédit {
  text-align: center;
  font-size: 1vw;
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

.crédit_pied {
  background-color: #AF966D;
}